/* background colors */
.main-color {
    background: linear-gradient(174deg, #57007f 15%, white 15% 85%, #57007f 85%);
}

.purple {
  background-color: #57007f;
}
/* navigation bar */
.navbar {
  background-color: transparent !important;
  border-color: transparent !important;
  margin-bottom: 0px !important;
  padding: 10px 0;
}

.center-logo {
    display: block !important;
}

.sellectA {
    width: 100px !important;
}

.sellectA img {
    margin-left: auto;
    margin-right: auto;
}

.right {
    float: right !important;
}

.right button {
  margin-top: 5px;
}

.right :nth-child(2) {
  background-color: black;
  color: #ffde33;
  font-weight: 700 !important
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1060;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
  
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  font-weight: 700;
  display: block;
  transition: 0.3s;
}
  
.sidenav a:hover {
  color: #5c5b5b;
}

.sidenav :nth-child(2) {
  padding-top: 150px !important;
}

.aBorder {
  border-bottom: 1px solid rgb(197, 197, 197);
}
  
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3.0rem;
  margin-left: 50px;
}

.sbSpan {
  font-size: 2.0rem;
}
  
.btn-colorY {
  background-color: #ffde33;
  color: black;
  font-weight: 700 !important;
}

.openbtn {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  color: #ffde33;
  padding-top: 10px;
}

/* header titles */

.text1 {
  padding-top: 10vh;
  color: white;
  font-size: 0.9em;
}

.text2 {
  color: white;
  padding: 100px 0;
}

.text2 h1 {
  font-weight: 700;
  font-size:4.2em;
}

.text2 :nth-child(2) {
  font-size: 1.5em;
  font-weight: 550;
}

.assessment {
  width: 15%;
  height: 5vh;
  margin-top: 4%;
}

/* filter buttons */

.three-btns {
    width: 32% !important;
}

.middle-btns {
  width: 49% !important;
}

.btnCtg {
    padding: 0 2% !important;
}

.filterBtn p {
  color: white;
  font-weight: 600;
}

.filterBtn button:hover {
  background-color: #57007f;
  color: white;
  font-weight: 600;
}

.search-btn-pos {
  padding-top: 30px;
}

.search-btn {
  width: 94%;
}

/* game cards */
.card-border {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 30px !important;
}

.card-image {
  width: 100%;
  height: 30vh !important;
}

.card-border h4, .card-border p {
  padding-left: 30px;
}

.card-border h4 {
  padding-top: 20px;
  font-size: 1.4em;
}

.card-border p {
  font-weight: 550;
}

.blue {
  color: rgb(34, 209, 192);
}

.icon {
  position: absolute;
  right: 70px;
}

.card-img {
  position: relative;
}

.card-img span {
  position: absolute;
  top: 20px;
  right: 90%;
  font-size: 1.8em;
}

.card-text p {
  color: gray;
  font-weight: 550 !important;
}

.card-text p, .card-text h4 {
  width: 80%;
  padding-left: 12%;
}

/* modal form */

.modal-color {
  background-color: #57007f !important;
  color: white !important;
}

.aY {
  color: #ffde33 !important;
}

.href-span span {
  padding-right: 15px;
  font-size: 1.2em;
  font-weight: 600;
}

.href-span span a {
  color: white;
}

.href-icon span {
  padding: 15px;
}

.href-icon i {
  color: #ffde33;
  font-size: 1.5em;
}

/* 
game-page.php
background image and colors 
*/
.bg-image {
  height: 80vh;
  background-size: 100% 80vh;
}

.main-color-gp {
  position: relative;
  height: 100vh;
  background: linear-gradient(174deg, white 0% 80%, #57007f 80%);
}

.diagonal {
  position: absolute;
  left: 0px;
  top: 50vh;
  height: 30vh;
  width: 100%;
  background: linear-gradient(174deg, transparent 0% 50%, white 50%);
}
/* game content */
.container h1 {
  font-size: 2.8em;
  font-weight: 600;
  padding: 20px 0;
}

.table-title {
  background-color: #ebebeb;
  padding: 30px;
  border-radius: 10px;
}

.column-text {
  position: relative !important;
}

.column-text span {
  position: absolute;
  top: 10px;
  right: 85%;
  font-size: 1.8em;
}

.column-text p {
  color: gray;
  font-weight: 600;
}

.div, .div-icon p, .div-icon h4 {
  width: 80%;
  padding-left: 20%;
}

.register-page {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}